<div class="men-wear">
    <div class="container">
        <div class="col-md-3 products-left">
            <div class="css-treeview">
                <h4>{{ 'PRODUCT_LIST.CATEGORY' | translate }}</h4>
                <script type="text/ng-template" id="categoryTree">
                    <a ui-sref="home.product-list({ name: category.slug })">{{ category.name }}</a>
                    <ul ng-if="category.categories">
                        <li ng-repeat="category in category.categories" ng-include="'categoryTree'"></li>
                    </ul>
                </script>
                <ul>
                    <li ng-repeat="category in categories" ng-include="'categoryTree'"></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-9 products-right">
            <div class="sort-grid">
                <div class="sorting">
                    <h6>{{ 'PRODUCT_LIST.NAME' | translate }}</h6>
                    <select id="country1" 
                    class="frm-field required sect" 
                    ng-model="softByName" 
                    ng-change="filter()">
                        <option value="">{{ 'PRODUCT_LIST.DEFAULT' | translate }}</option>
                        <option value="asc">{{ 'PRODUCT_LIST.NAME_ASC' | translate }}</option> 
                        <option value="desc">{{ 'PRODUCT_LIST.NAME_DESC' | translate }}</option>   
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="sorting">
                    <h6>{{ 'PRODUCT_LIST.PRICE' | translate }}</h6>
                    <select id="country1" 
                    class="frm-field required sect" 
                    ng-model="softByPrice" 
                    ng-change="filter()">
                        <option value="">{{ 'PRODUCT_LIST.DEFAULT' | translate }}</option>
                        <option value="asc">{{ 'PRODUCT_LIST.PRICE_ASC' | translate }}</option>
                        <option value="desc">{{ 'PRODUCT_LIST.PRICE_DESC' | translate }}</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="sorting">
                    <h6>{{ 'PRODUCT_LIST.RATE' | translate }}</h6>
                    <select id="country1" 
                    class="frm-field required sect" 
                    ng-model="softByRate" 
                    ng-change="filter()">
                        <option value="">{{ 'PRODUCT_LIST.DEFAULT' | translate }}</option>
                        <option value="asc">{{ 'PRODUCT_LIST.RATE_ASC' | translate }}</option>
                        <option value="desc">{{ 'PRODUCT_LIST.RATE_DESC' | translate }}</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
                <div class="sorting pull-right">
                    <a href="" ng-click="showList = true"><i class="glyphicon glyphicon-th"></i></a> 
                    <a href="" ng-click="showList = false"><i class="glyphicon glyphicon-th-list"></i></a>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="men-wear-bottom" ng-if="!showList" ng-repeat="product in products">
                <div class="col-sm-4 men-wear-left">
                    <a ui-sref="home.product-detail({name: product.slug})">
                        <img class="pro-image-front img-responsive" 
                        ng-src="{{ product.images[0].image }}" 
                        alt="{{ product.name }}" 
                        height="100px">
                    </a>
                </div>
                <div class="col-sm-8 men-wear-right">
                    <h4>{{ product.name }}</h4>
                    <p>{{ 'PRODUCT_LIST.DESCRIPTION' | translate }}: {{ product.description }}</p>
                    <p>{{ 'PRODUCT_LIST.PRICE' | translate }}: {{ product.price | currency }}</p>
                    <p>{{ 'PRODUCT_LIST.STOCK' | translate }}: {{ product.stock }}</p>
                    <p>{{ 'PRODUCT_LIST.RATE' | translate }}: {{ product.rate }}</p>
                    <a href="" 
                        class="item_add single-item hvr-outline-out button2" 
                        ng-click="cart.addItem(product.id, product.name, product.images[0].image, product.price, 1)">
                        {{ 'PRODUCT_LIST.ADD_TO_CART' | translate }}
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-4 product-men no-pad-men" ng-if="showList" ng-repeat="product in products">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <img ng-src="{{ product.images[0].image }}" 
                        alt="{{ product.name }}" 
                        class="pro-image-front">
                        <img ng-src="{{ product.images[0].image }}" 
                        alt="{{ product.name }}" 
                        class="pro-image-back">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a ui-sref="home.product-detail({name: product.slug})" 
                                class="link-product-add-cart">
                                    {{ 'PRODUCT_LIST.QUICK_VIEW' | translate }}
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="item-info-product ">
                        <h4><a ui-sref="home.product-detail({name: product.slug})">{{ product.name }}</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">{{ product.price | currency }}</span>
                        </div>
                        <a href="" 
                            class="item_add single-item hvr-outline-out button2" 
                            ng-click="cart.addItem(product.id, product.name, product.images[0].image, product.price, 1)">
                            {{ 'PRODUCT_LIST.ADD_TO_CART' | translate }}
                        </a>                                    
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>

            <div class="text-center">
                <button class="btn btn-primary btn-block" ng-if="showLoadMore" ng-click="loadMore()">
                    {{ 'PRODUCT_LIST.LOAD_MORE' | translate }}
                </button>
                <button class="btn btn-primary btn-block disabled" ng-if="!showLoadMore">
                    <i class="fa fa-spinner fa-spin fa-fw"></i>
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
