<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{{ 'ADMIN.LABEL.CATEGORY_LIST' | translate }}
            <a ui-sref="admin.category-create" class="btn btn-default pull-right">
                {{ 'ADMIN.BUTTON.CREATE' | translate }}
            </a>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'ADMIN.LABEL.CATEGORY' | translate }}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <script type="text/ng-template" id="categoryTree">
                            <a ui-sref="admin.category-edit({ name: category.slug })">{{ category.name }}</a>
                            <a href="" ng-click="remove({ id: category.id })">
                                <i class="glyphicon glyphicon-remove pull-right"></i>
                            </a>
                            <hr>
                            <ul ng-if="category.categories">
                                <li ng-repeat="category in category.categories" ng-include="'categoryTree'"></li>
                            </ul>
                        </script>
                        <ul>
                            <li ng-repeat="category in categories" ng-include="'categoryTree'"></li>
                        </ul> 
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
