<div class="product-easy">
    <div class="container">
        
        <div class="ele-bottom-grid">
            <h3>{{ 'PRODUCT_LIST.SEARCH' | translate }}: {{ search }}</h3>
            <div class="col-md-3 product-men" ng-repeat="product in products">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <img ng-src="{{ product.images[0].image }}" alt="" class="pro-image-front">
                        <img ng-src="{{ product.images[0].image }}" alt="" class="pro-image-back">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a ui-sref="home.product-detail({name: product.slug})" 
                                class="link-product-add-cart">
                                    {{ 'PRODUCT_LIST.QUICK_VIEW' | translate }}
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="item-info-product ">
                        <h4><a href="single.html">{{ product.name }}</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">{{ product.price | currency }}</span>
                        </div>
                        <a ng-click="cart.addItem(product.id, product.name, product.images[0].image, product.price, 1)" 
                        class="item_add single-item hvr-outline-out button2">
                            {{ 'PRODUCT_LIST.ADD_TO_CART' | translate }}
                        </a>                                    
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center">
                <button class="btn btn-primary btn-block" ng-if="showLoadMore" ng-click="loadMore()">
                    {{ 'PRODUCT_LIST.LOAD_MORE' | translate }}
                </button>
                <button class="btn btn-primary btn-block disabled" ng-if="!showLoadMore">
                    <i class="fa fa-spinner fa-spin fa-fw"></i>
                </button>
            </div>
        </div>
    </div>
</div>
